* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(6,6,6);
  color: #e0e0e0;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

#enter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(6,6,6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  transition: opacity 1s ease;
}

#enter-overlay.fade-out {
  opacity: 0;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.angel {
  width: 350px; 
}


.member-img {
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}


.checklist-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

.doxbin-link {
  color: #ffffff !important;
  font-size: 0.9rem;
  text-decoration: underline;
  display: block; 
  margin-top: 5px;
}

.telegram-button {
  background-color: #400106;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}

.telegram-button:hover {
  background-color: #4d010f;
}
