* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(6,6,6);
  color: #e0e0e0;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}


.doxbin-link {
  color: #FFD700 !important;
  font-size: 0.9rem;
  text-decoration: underline;
  display: block; 
  margin-top: 5px;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(255, 215, 0, 0.8), 0 0 10px rgba(255, 215, 0, 0.6);
  position: relative;
  animation: sparkle 1.5s infinite alternate;
}


@keyframes sparkle {
  0% { text-shadow: 0 0 5px rgba(255, 215, 0, 0.8), 0 0 10px rgba(255, 215, 0, 0.6); }
  50% { text-shadow: 0 0 8px rgba(255, 215, 0, 1), 0 0 15px rgba(255, 215, 0, 0.9); }
  100% { text-shadow: 0 0 5px rgba(255, 215, 0, 0.8), 0 0 10px rgba(255, 215, 0, 0.6); }
}


.checklist-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

/
.member-img {
  width: 50px; 
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px; 
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.angel {
  width: 350px; /
}
